<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue App</title>
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

  <div id="app" class="flex-container">

    <div class="vertical-stack">
      <div id="decryptionStatus">
        <div v-if="enableDecrypt">
          <h1>Encryption Status: Unlimited</h1>
        </div>
        <div v-else>
          <h1>Encyption Status: Limited</h1>
        </div>
      </div>

      <div class="horizontal-stack">
        <div id="puzzle-to-decrypt">
          <div v-for="(value, key, index) in puzzles[selectedPuzzle]['msgs']">
            {{ value['encryption'] }} <br>{{ value['msg'] }} <br>Solved?: {{ value['solved'] }}
            <input type="text" v-model="value['guess']" placeholder="enter guess" class="flex-right"
            @keyup.enter="checkGuess(encryptionType=value['encryption'], stoneMsg=value['msg'], guess=value['guess'], index=key)">
          </div>

          <div>
            Enter deciphered phrase below: <input type="textarea" placeholder="enter full phrase" class="flex-right">
          </div>
        </div>

        <div id="bronze" class="vertical-stack">
          <h1>Bronze</h1>
          <div id="encryptBronze">
            <div>
              <textarea v-model="msgToEncryptBronze" placeholder="Enter a message to encrypt!" @keyup.enter="encryptBronzeEvent(msgToEncryptBronze)"></textarea>
              <div class="flex-right">
                <button @click="encryptBronzeEvent(msgToEncryptBronze)" :disabled="bronzeEncryptCount >= encryptLimit">Encrypt Bronze ({{
                  encryptLimit - bronzeEncryptCount }})</button>
              </div>
            </div>
            <div id="steps">
              <div v-for="step in encryptBronzeSteps" @dblclick="copyToClipboard(step)">
                <p>{{ step }}</p>
              </div>
            </div>
          </div>

          <div id="decryptBronze">
            <div>
              <textarea v-model="msgToDecryptBronze" placeholder="Enter a message to decrypt!" @keyup.enter="decryptBronzeEvent(msgToDecryptBronze)"></textarea>
              <div class="flex-right">
                <button id="decryptBronze" @click="decryptBronzeEvent(msgToDecryptBronze)">Decrypt Bronze</button>
              </div>
            </div>
            <div id="steps">
              <div v-for="step in decryptBronzeSteps" @dblclick="copyToClipboard(step)">
                <p>{{ step }}</p>
              </div>
            </div>
          </div>
        </div>

        <div id="stone" class="vertical-stack">
          <h1>Stone</h1>
          <div id="encryptStone">
            <div>
              <textarea v-model="msgToEncryptStone" placeholder="Enter a message to encrypt!" @keyup.enter="encryptStoneEvent(msgToEncryptStone)"></textarea>
              <div class="flex-right">
                <button @click="encryptStoneEvent(msgToEncryptStone)" :disabled="stoneEncryptCount >= encryptLimit">Encrypt Stone
                  ({{encryptLimit - stoneEncryptCount }})</button>
              </div>
            </div>
            <div id="steps">
              <div v-for="step in encryptStoneSteps" @dblclick="copyToClipboard(step)">
                <p>{{ step }}</p>
              </div>
            </div>
          </div>

          <div id="decryptStone">
            <div>
              <textarea v-model="msgToDecryptStone" placeholder="Enter a message to decrypt!" @keyup.enter="decryptStoneEvent(msgToDecryptStone)"></textarea>
              <div class="flex-right">
                <button id="decryptStone" @click="decryptStoneEvent(msgToDecryptStone)">Decrypt Stone</button>
              </div>
            </div>
            <div id="steps">
              <div v-for="step in decryptStoneSteps" @dblclick="copyToClipboard(step)">
                <p>{{ step }}</p>
              </div>
            </div>
          </div>
        </div>

        <div id="iron" class="vertical-stack">
          <h1>Iron</h1>
          <div id="encryptIron">
            <div>
              <textarea v-model="msgToEncryptIron" placeholder="Enter a message to encrypt!" @keyup.enter="encryptIronEvent(msgToEncryptIron)"></textarea>
              <div class="flex-right">
                <button @click="encryptIronEvent(msgToEncryptIron)" :disabled="ironEncryptCount >= encryptLimit">Encrypt Iron ({{ encryptLimit
                  - ironEncryptCount }})</button>
              </div>
            </div>
            <div id="steps">
              <div v-for="step in encryptIronSteps" @dblclick="copyToClipboard(step)">
                <p>{{ step }}</p>
              </div>
            </div>
          </div>

          <div id="decryptIron">
            <div>
              <textarea v-model="msgToDecryptIron" placeholder="Enter a message to decrypt!" @keyup.enter="decryptIronEvent(msgToDecryptIron)"></textarea>
              <div class="flex-right">
                <button id="decryptIron" @click="decryptIronEvent(msgToDecryptIron)">Decrypt Iron</button>
              </div>
            </div>
            <div id="steps">
              <div v-for="step in decryptIronSteps" @dblclick="copyToClipboard(step)">
                <p>{{ step }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="secretCode" class="vertical-stack">
        <div>
          <textarea v-model="secretCode" placeholder="Enter the secret code!" @keyup.enter="checkSecretCode(secretCode)"></textarea>
          <div class="flex-right">
            <button @click="checkSecretCode(secretCode)">Submit</button>
          </div>
        </div>
        <div id="steps">
          <div v-for="taunt in taunts">
            <p>{{ taunt }}</p>
          </div>
        </div>
      </div>

    </div>

  </div>

</body>
<script src="app.js"></script>

</html>