body {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 17px;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

#steps {
  max-height: 400px;
  max-width: 100%;
  overflow-y: auto;
  margin: 10px;
  padding: 20px;
}

.horizontal-stack>div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  max-width: 30%;
}

textarea {
  display: block;
  width: 100%;
  font-size: 17px;
}

.flex-right {
  display: flex;
  justify-content: right;
}

button {
  margin: 10px;
  padding: 10px;
}

.hidden {
  display: none;
}

.msg-div-wrapper {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f1f1f1;

  &.solved {
    background-color: mediumspringgreen;
  }
}

.msg-type {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.stone {
  word-break: normal;
}

.bronze,
.iron,
.final {
  word-break: break-all;
}

.msg-div {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.puzzle-to-decrypt {
  width: 100%;
  max-width: 100%;
}

.selected {
  border: 2px solid black;
}